<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="footer-h">
        <ul class="list-unstyled d-flex justify-content-between flex-wrap">
          <li>
            <h4 class="text-gray-01 mb-3 ms-4 ms-lg-0">購物服務 Services</h4>
            <div class="d-flex flex-column">
              <a
                class="py-4 ps-4 mb-lg-2 ps-lg-0 py-lg-0 haver-brand-01 link-style footer-active"
                href=""
                ><span
                  class="material-symbols-outlined text-brand-01 align-middle"
                >
                  shopping_bag </span
                >付款運送說明</a
              >
              <a
                class="py-4 ps-4 pb-lg-2 ps-lg-0 py-lg-0 link-style haver-brand-01 footer-active"
                href="#"
                ><span
                  class="material-symbols-outlined text-brand-01 align-middle"
                >
                  box </span
                >商品退貨說明</a
              >
            </div>
          </li>
          <li>
            <h4 class="text-gray-01 mt-9 mt-md-0 mb-lg-3 ms-4 ms-lg-0">
              聯絡我們 Contact us
            </h4>
            <div>
              <a
                class="haver-brand-01 py-4 ps-4 mb-lg-2 ps-lg-0 py-lg-0 link-style footer-active"
                href="tel:+886-1-1111111"
                ><span
                  class="material-symbols-outlined text-brand-01 align-middle"
                >
                  call </span
                >服務電話 111-111-111</a
              >
              <p class="py-4 ps-4 pb-lg-2 ps-lg-0 py-lg-0 text-gray-01">
                <span
                  class="material-symbols-outlined text-brand-01 align-middle"
                >
                  store </span
                >服務時間 11:00 - 17:00
              </p>
            </div>
          </li>
          <li class="d-flex flex-column">
            <h4
              class="text-gray-01 mt-9 mt-md-0 mb-lg-3 pt-9 pt-md-0 media-br ms-4 ms-lg-0"
            >
              社群媒體 Social Media
            </h4>
            <div class="ms-4 ms-lg-0">
              <a class="text-gray-01 media d-inline me-3 mb-lg-2" href="#"
                ><i class="bi-facebook haver-brand-01 footer-active"></i
              ></a>
              <a class="text-gray-01 media" href="#"
                ><i class="bi-instagram haver-brand-01 footer-active"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="py-0 py-lg-10 footer-br">
        <div
          class="d-flex justify-content-between align-items-center flex-wrap"
        >
          <h2>
            <a class="logo-style" href="../pages/index.html">毛茸茸的朋友</a>
          </h2>
          <p class="footer-fs footer-w ms-4 ms-lg-0">
            愛你的毛小孩，如愛你的家人一樣。給牠最好的選擇
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
