<div class="bg-white">
  <div class="container">
    <div class="row">
      <div
        class="d-flex justify-content-between align-items-center logo position-relative mt-2"
      >
        <h1>
          <a class="logo-style" href="../pages/index.html">毛茸茸的朋友</a>
        </h1>
        <div>
          <a class="me-0 me-lg-6 d-none d-lg-inline-block" href="#"
            ><span class="material-symbols-outlined header-icon">
              person
            </span></a
          >
          <a class="ion-me me-lg-0 mt-2 mt-lg-0 position-relative" href="#"
            ><span class="material-symbols-outlined header-icon">
              shopping_cart
            </span>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger badge-style"
            >
              10
              <span class="visually-hidden">shopping quantity</span>
            </span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light pb-2 pb-lg-0">
      <div class="container-fluid">
        <button
          class="navbar-toggler fs-6 position-nav"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ps pt-8 pt-lg-0">
            <li class="nav-item dropdown me-120 text-center">
              <a
                class="nav-link dropdown-toggle link-gray-01 fw-bold"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                狗狗
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <p class="link-gray-01 ps-3">食品—</p>
                  <a class="dropdown-item link-gray-01 ps-8" href="#">飼料</a>
                  <a class="dropdown-item link-gray-01 ps-8" href="#">零食</a>
                </li>
                <li>
                  <p class="link-gray-01 ps-3">用品—</p>
                  <a
                    class="dropdown-item link-gray-01 ps-8"
                    href="supplies.html"
                    >好物</a
                  >
                  <a class="dropdown-item link-gray-01 ps-8" href="#">衣服</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown text-center">
              <a
                class="nav-link dropdown-toggle link-gray-01 fw-bold me-120"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                貓貓
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <p class="ps-3 link-gray-01">食品—</p>
                  <a class="dropdown-item link-gray-01 ps-8" href="#">飼料</a>
                  <a class="dropdown-item link-gray-01 ps-8" href="#">零食</a>
                </li>
                <li>
                  <p class="ps-3 link-gray-01">用品—</p>
                  <a class="dropdown-item link-gray-01 ps-8" href="#">好物</a>
                  <a class="dropdown-item link-gray-01 ps-8" href="#">衣服</a>
                </li>
              </ul>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link link-gray-01 fw-bold me-120" href="#"
                >主打商品</a
              >
            </li>
            <li class="nav-item text-center">
              <a class="nav-link link-gray-01 fw-bold" href="#">毛孩小教室</a>
            </li>
            <li class="nav-item d-inline-block d-lg-none text-center">
              <a class="nav-link link-gray-01 fw-bold register" href="#"
                >註冊/登入</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
