.media {
  font-size: 47px;
}

.footer-h {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  .footer-h {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.media-br {
  border-top: 1px solid #f2a09e;
}

@media (min-width: 768px) {
  .media-br {
    border-top: 0px;
  }
}

.footer-br {
  border-top: 0px;
}
@media (min-width: 768px) {
  .footer-br {
    border-top: 1px solid #f2a09e;
  }
}

.footer-fs {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .footer-fs {
    font-size: 1.5rem;
  }
}
.footer-w {
  width: 265.77px;
}

@media (min-width: 768px) {
  .footer-w {
    width: 552px;
  }
}

.link-style {
  display: inline-block;
  color: #1e1e1e;
}

.footer-active:after {
  color: #f2a09e;
}

.haver-brand-01:hover {
  color: $brand-01;
}
