.banner-dog {
  background-image: url(/assets/images/freestocks-t8SxccV0Agw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 562px;
}
@media (min-width: 768px) {
  .banner-img {
    height: 972px;
  }
}

.banner-dog-mt {
  margin-top: 290px;
}
@media (min-width: 768px) {
  .banner-mt {
    margin-top: 200px;
  }
}

@media (min-width: 768px) {
  .text-effect:hover {
    background-color: #e7adac;
  }
}

// 卡片

.product-card {
  width: 210px;
  position: relative;
  box-shadow: 0 2px 7px #bec2bd;
  background: #fafafa;
  border-radius: 3%;
}

.badge {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  height: 180px;
}

.product-tumb img {
  width: 100%;
  height: 100%;
}

.product-details {
  padding: 10px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #363636;
  text-decoration: none;
  transition: 0.2s;
}

.product-details h4 a:hover {
  color: #e7adac;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  font-weight: 600;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #f2a09e;
}
