<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
    />
    <title>index</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <div class="banner-img">
      <div class="container">
        <div class="row">
          <div class="banner-mt">
            <p class="benner-style fw-bold text-white">
              與毛孩享受生活<br />為毛孩選擇最好
            </p>
            <div class="banner-item">
              <p class="bg-white ps-4 py-1 mt-2">
                能與寶貝相遇 -- 是緣分,也是幸福的開始
              </p>
            </div>
            <button
              type="button"
              class="btn btn-brand-02 border border-white text-white rounded-pill h5 mt-9"
            >
              馬上選購
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
