<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
    />
    <title>index</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <div class="banner-img">
      <div class="container">
        <div class="row">
          <div class="banner-mt">
            <p class="benner-style fw-bold text-white">
              與毛孩享受生活<br />為毛孩選擇最好
            </p>
            <div class="banner-item">
              <p class="bg-white ps-4 py-1 mt-2">
                能與寶貝相遇 -- 是緣分,也是幸福的開始
              </p>
            </div>
            <button
              type="button"
              class="btn btn-brand-02 border border-white text-white rounded-pill h5 mt-9"
            >
              馬上選購
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 初衷 -->
    <div class="container themes-my position-relative">
      <div class="row justify-content-end themes-dog">
        <div class="col-lg-11">
          <div class="bg-white rounded-24 themes-shadow">
            <div class="row justify-content-end">
              <div class="col-lg-4">
                <div class="themes-item">
                  <h5 class="themes-text mb-2 md-lg-9">初衷</h5>
                  <div class="text-gray-01 fw-normal">
                    <p>從還是嬰兒時期家裡的狗狗就一路陪伴我長大~</p>
                    <br />
                    <p>
                      小時候不懂養毛孩的正確觀念,加上資訊不多,總是亂買不適合的食物給寶貝吃。
                    </p>
                    <br />
                    <p>
                      寶貝步入老年期後,總想著如果能在他年輕時多注意寶貝的飲食、能多帶寶貝到處玩耍~製造更多美好的回憶該有多好!
                    </p>
                    <br />
                    <p>所以想提供更多有詳細成份的商品給飼主挑選 ! 自我把關~</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
