<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="../assets/images/pets_24dp_DF9D9B.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
    />
    <title>毛茸茸的朋友</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <!-- 商品路徑 -->
    <div class="bg-brand-01">
      <div class="container">
        <div class="row">
          <div>
            <nav aria-label="breadcrumb" class="col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">全部商品</a></li>
                <li class="breadcrumb-item"><a href="#">胸背牽繩</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  胸背帶
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-9">
      <div class="row">
        <div class="mt-2">
          <div class="d-flex flex-column flex-md-row">
            <!-- 左邊的商品圖片 -->
            <div class="col-md-5 col-12 img-container">
              <div class="product-image">
                <div
                  id="carouselImage"
                  class="carousel slide"
                  data-bs-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img
                        src="/assets/images/jemmy_6524_a_pet_Harness_white_background_commercial_photo_prod_beecd84a-5b11-483a-be09-fe120476103d.png"
                        class="carousel-main-img w-100"
                        alt="..."
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/assets/images/janosch-diggelmann-IyANA6cM_sE-unsplash.png"
                        class="carousel-main-img w-100"
                        alt="..."
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/assets/images/cierra-voelkl-vG9Y66HjznA-unsplash.png"
                        class="carousel-main-img w-100"
                        alt="..."
                      />
                    </div>
                  </div>
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselImage"
                    data-bs-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselImage"
                    data-bs-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>

              <!-- 商品圖片縮圖導航 -->
              <div class="carousel-thumbnails d-flex mt-4">
                <img
                  src="/assets/images/jemmy_6524_a_pet_Harness_white_background_commercial_photo_prod_beecd84a-5b11-483a-be09-fe120476103d.png"
                  data-bs-target="#carouselImage"
                  data-bs-slide-to="0"
                  class="active carousel-thumbnail-img"
                  alt="Thumbnail 1"
                />
                <img
                  src="/assets/images/janosch-diggelmann-IyANA6cM_sE-unsplash.png"
                  data-bs-target="#carouselImage"
                  data-bs-slide-to="1"
                  alt="Thumbnail 2"
                  class="carousel-thumbnail-img"
                />
                <img
                  src="/assets/images/cierra-voelkl-vG9Y66HjznA-unsplash.png"
                  data-bs-target="#carouselImage"
                  data-bs-slide-to="2"
                  alt="Thumbnail 3"
                  class="carousel-thumbnail-img"
                />
              </div>
            </div>

            <!-- 右邊的商品資訊 -->
            <div class="product-info col-md-5 col-12 mt-9 mt-md-0">
              <!-- 商品標題 -->
              <div class="row-container">
                <h2 class="product-title">輕量化胸背</h2>
              </div>

              <!-- 商品選項 -->
              <div class="product-options mt-9">
                <!-- 尺寸選擇 -->
                <div class="size-section">
                  <h5>尺寸</h5>
                  <div
                    class="btn-group gap-2 mt-3"
                    role="group"
                    aria-label="Size options"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-gray btn-selected"
                    >
                      XXS
                    </button>
                    <button type="button" class="btn btn-outline-gray">
                      XS
                    </button>
                    <button type="button" class="btn btn-outline-gray">
                      S
                    </button>
                    <button type="button" class="btn btn-outline-gray">
                      M
                    </button>
                  </div>
                </div>
                <!-- 顏色選擇 -->
                <div class="color-section mt-7">
                  <h5>顏色</h5>
                  <div
                    class="btn-group gap-2 mt-3"
                    role="group"
                    aria-label="Color options"
                  >
                    <button
                      type="button"
                      class="btn btn-outline-gray btn-selected"
                    >
                      藍色
                    </button>
                    <button type="button" class="btn btn-outline-gray">
                      黑色
                    </button>
                    <button type="button" class="btn btn-outline-gray">
                      迷彩
                    </button>
                  </div>
                </div>
              </div>

              <!-- 價格 -->
              <div class="product-price mt-4">
                <h2>NT$1,150</h2>
              </div>

              <!-- 商品數量 -->
              <div class="quantity-container mt-9">
                <div class="btn-group w-100" role="group">
                  <button
                    type="button"
                    class="btn btn-outline-gray btn-quantity"
                  >
                    -
                  </button>
                  <input type="text" class="quantity-input" value="1" />
                  <button
                    type="button"
                    class="btn btn-outline-gray btn-quantity"
                  >
                    +
                  </button>
                </div>
              </div>

              <!-- 加入購物車與追蹤按鈕 -->
              <div class="product-actions mt-9">
                <button class="btn btn-add-to-cart w-100 py-2">
                  加入購物車
                </button>
                <button class="btn btn-add-to-watchlist w-100 mt-2 py-2">
                  追蹤清單
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="about-product">
          <div class="container text-dark mb-9">
            <h4 class="text-center mb-5 text-dark">商品資訊</h4>
            <p>
              輕量化胸背是一款輕量級、低調的狗狗背帶,既適合快節奏的活動,也適合那些喜歡極簡設計自由的寵物。這是一款適合小型犬的絕佳背帶,通過四個調節點讓胸背更舒適及服貼。擁有兩個牽繩點:背部的鋁合金V形環和前胸的超強織帶環。
            </p>
            <br />
            <p>
              細節之處體現大功能而不增加重量:防碎屑內襯可抵擋污垢和毛髮,可放置ID名牌的小口袋,帶有反光邊條在低光照條件下增加能見度。無論是跑步、騎行,還是希望保持涼爽和減輕負擔,狗狗都可以穿著輕量化胸背自在活動。
            </p>
          </div>

          <div class="container text-dark mb-9">
            <h4 class="mb-5 text-dark">- 輕量化</h4>
            <p class="mb-5">輕量化設計,減少體積,確保日常穿戴舒適。</p>
            <img
              src="/assets/images/cierra-voelkl-vG9Y66HjznA-unsplash.png"
              alt=""
            />
          </div>

          <div class="container text-dark mb-9">
            <h4 class="mb-5 text-dark">- 自在行動輕量胸背</h4>
            <p class="mb-5">
              以輕便材質讓寵物如同沒穿戴般自在行動，適合日常散步及戶外活動。
            </p>
            <img
              src="/assets/images/janosch-diggelmann-IyANA6cM_sE-unsplash.png"
              alt=""
            />
          </div>

          <div class="product-info-container text-black">
            <table>
              <tr>
                <th>
                  <p class="title">材質</p>
                </th>
              </tr>
              <tr>
                <td>
                  <div class="content">
                    外層：聚酯纖維（經 bluesign® 認證）<br />
                    內裡：聚酯布料，經熱浮雕處理<br />
                    扣環：鋁合金 V 形環
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  <p class="title">洗滌方式</p>
                </th>
              </tr>
              <tr>
                <td>
                  <div class="content">
                    - 建議以冷水手洗<br />
                    - 請以中性清潔劑洗滌<br />
                    - 請在通風處晾乾即可
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
