<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="../assets/images/pets_24dp_DF9D9B.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
    />
    <title>毛茸茸的朋友</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="banner-dog">
      <div class="container">
        <div class="row">
          <div class="banner-dog-mt">
            <h2 class="text-white text-center benner-style">狗狗 用品</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div>
            <p class="h5">犬</p>
            <p class="mb-1 ps-2 text-gray-01 h6">用品 —</p>
            <ul class="bg-brand-01">
              <li class="list-group ps-1 px-2 mb-2">
                <a href="">好物 </a>
              </li>
              <li class="list-group ps-1"><a href="">衣服</a></li>
            </ul>
            <p class="mb-1 ps-2 h6 text-gray-01">食品 —</p>
            <ul class="">
              <li class="list-group ps-1 mb-2 px-2"><a href="">飼料</a></li>
              <li class="list-group ps-1 mb-2"><a href="">零食</a></li>
            </ul>
          </div>
        </div>
        <div class="col-9"></div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
